@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
* {
  font-family: "Roboto Slab", serif; }

html, .body {
  width: 100%;
  height: 100%; }

.text-muted {
  color: #777; }

.text-primary {
  color: #fed136; }

p {
  font-size: 14px;
  line-height: 1.75; }

p.large {
  font-size: 16px; }

a {
  color: #fed136; }
  a:hover, a:focus, a:active, a.active {
    outline: none; }

h1, h2, h3, h3, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

.img-centered {
  margin: 0 auto; }

.bg-light-gray {
  background-color: #f7f7f7; }

.bg-darkest-gray {
  background-color: #222; }

.btn-primary {
  color: #fff;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

.btn-xl {
  color: #fff;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-radius: 3px;
  font-size: 20px;
  padding: 1% 5%;
  font-style: normal; }
  .btn-xl:hover {
    background-color: transparent;
    color: #fed136;
    font-weight: bold;
    border: 3px solid #fed136; }

.navbar-default {
  background-color: #222;
  border-color: transparent; }
  .navbar-default .navbar-brand {
    color: #fed136;
    font-family: "Kaushan Script", cursive;
    font-size: 24px; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active
    .navbar-default .navbar-brand.active {
      color: #cd9f01; }
  .navbar-default .navbar-collapse {
    border-color: fade(#fff, 2%); }
  .navbar-default .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #fed136; }
  .navbar-default .nav li a {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    color: #fff; }
    .navbar-default .nav li a:hover, .navbar-default .nav li a:active {
      color: #fed136;
      outline: none; }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #fed136; }

header {
  height: 675px;
  background: url(../../../img/header-bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: white; }
  header .intro-text {
    padding-top: 22%; }
    header .intro-text .intro-lead-in {
      font-family: "Droid Serif", serif;
      font-style: italic;
      font-size: 40px; }
    header .intro-text .intro-heading {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 75px;
      text-transform: uppercase;
      font-style: normal;
      margin-top: 3%; }

section {
  padding: 5% 0; }
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }
  section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px; }

#portfolio .portfolio-item .portfolio-caption {
  padding: 5%;
  background-color: #fff;
  margin-bottom: 4%; }
  #portfolio .portfolio-item .portfolio-caption h4 {
    text-transform: none;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700; }
  #portfolio .portfolio-item .portfolio-caption p {
    font-family: "Droid Serif", serif;
    font-style: italic;
    font-size: 16px; }

.timeline {
  list-style: none;
  padding: 0;
  position: relative; }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f7f7f7;
    left: 40px;
    margin-left: -1.5px; }
  .timeline > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px; }
    .timeline > li:before, .timeline > li:after {
      content: " ";
      display: table; }
    .timeline > li:after {
      clear: both; }
    .timeline > li .timeline-panel {
      width: 100%;
      float: right;
      padding: 0 20px 0 100px;
      position: relative;
      text-align: left; }
      .timeline > li .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline > li .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    .timeline > li .timeline-image {
      left: 0;
      margin-left: 0;
      width: 80px;
      height: 80px;
      position: absolute;
      z-index: 100;
      background-color: #fed136;
      color: white;
      border-radius: 100%;
      border: 7px solid #f1f1f1;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      text-transform: uppercase; }
      .timeline > li .timeline-image h4 {
        font-size: 10px;
        margin-top: 12px;
        line-height: 14px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 20px 0 100px; }
      .timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline > li.timeline-inverted > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    .timeline > li:last-child {
      margin-bottom: 0; }
  .timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
    font-family: "Montserrat", sans-serif;
    font-weight: 700; }
    .timeline .timeline-heading h4.subheading {
      text-transform: none; }
  .timeline .timeline-body > p,
  .timeline .timeline-body > ul {
    margin-bottom: 0; }

@media (min-width: 768px) {
  .timeline:before {
    left: 50%; }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px; }
    .timeline > li .timeline-panel {
      width: 41%;
      float: left;
      padding: 0 20px 20px 30px;
      text-align: right; }
    .timeline > li .timeline-image {
      width: 100px;
      height: 100px;
      left: 50%;
      margin-left: -50px; }
      .timeline > li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 30px 20px 20px; } }
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px; }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px; }
      .timeline > li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px; } }
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px; }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px; }
      .timeline > li .timeline-image h4 {
        margin-top: 40px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px; } }
.team-member {
  text-align: center;
  margin-bottom: 50px; }
  .team-member img {
    margin: 0 auto;
    border: 7px solid white; }
  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0; }

aside.clients img {
  margin: 5% auto; }

section#contact {
  width: 100%;
  background-color: #222;
  background-image: url("../../../img/map-image.png");
  background-position: center;
  background-repeat: no-repeat; }
  section#contact .section-heading {
    color: white; }
  section#contact .form-group {
    margin-bottom: 25px; }
    section#contact .form-group input,
    section#contact .form-group textarea {
      padding: 20px;
      width: 100%; }
    section#contact .form-group input.form-control {
      height: auto;
      margin-bottom: 4%; }
    section#contact .form-group textarea.form-control {
      height: 236px; }
  section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none; }
  section#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #bbbbbb; }
  section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #bbbbbb; }
  section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #bbbbbb; }
  section#contact :-ms-input-placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #bbbbbb; }

footer {
  padding: 3% 0;
  text-align: center; }

ul.social-buttons {
  margin-bottom: 0; }
  ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
      background-color: #fed136; }

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none; }

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center; }
  .portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em; }
  .portfolio-modal .modal-content p {
    margin-bottom: 30px; }
  .portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", serif;
    font-style: italic;
    font-size: 16px; }
  .portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0; }
  .portfolio-modal .modal-content img {
    margin-bottom: 30px; }
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer; }
  .portfolio-modal .close-modal:hover {
    opacity: 0.3; }

/*# sourceMappingURL=main.css.map */
